mat-card {
  width: 28%;
  display: inline-block;
  margin: 1rem;
}

@media (max-width: 700px) {
  mat-card {
    width: 100%;
    margin: 1rem 0;
  }
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-content {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
